body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(89deg, #ba5370, #f4e2d8);
  font-family: 'Courier New', Courier, monospace;
}

button {
  cursor: pointer;
}
